#page-wrap {
	width: 800px;
	margin: 0 auto;
}

.fn {
	border-bottom: 1px solid gray;
	margin-top: 5px;
	line-height: 50px;
}

#pic {
	float: right;
  	margin-top: -138px;
  	clear: both;

}

a {
	color: #696969;
	border-bottom: 1px dotted #696969;
	text-decoration: none;
}

.objetivo {
	color: #696969;
	font-family: helvetica arial;
	margin-bottom: 20px;
}

.linea {
	border-right: 2px solid black;
	float: left;
	width: 86px;
	height: 118px;
	clear:both;
	margin-top: -64px;
	margin-bottom: 82px;	
}

.contenido {
	margin-left: 101px;

}
