.logo {
	float: left;
	margin: 2.5em 0 0 7em;
}

.coffeeGrane {
	float: right;
	margin: 7em 10.0625em 0 0;
}

.leftArrow {
	left: -32.5625em;
    position: relative;
    top: 10.5em;
}

.rightArrow {
	position: relative;
    right: -32.125em;
    top: 10.5625em; 
}

.pictures {
	float: left;
}

.arrowCircle {
	left: 39em;
	position: relative;
    top: -2.9375em;
}